.outer-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__score {
    text-align: end;
  }
}
.game-wrapper {
  display: flex;
  justify-content: center;
  gap: 5rem;
  &__warning-text {
    width: 100vw;
    text-align: center;
    z-index: 1;
  }
  .game-table-container {
    border: 1px solid $primary;
    border-radius: 1rem;
    background-color: black;
    width: 80rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: rgba(244, 181, 0, 0.25) 0px 30px 60px -12px inset,
      rgba(244, 181, 0, 0.3) 0px 18px 36px -18px inset;

    .game-container {
      margin: 1rem;
      .score-badge {
        @include text-box;
        margin-left: 0.5rem;
      }
      .dealer-container {
        .animation-wrapper {
          width: 10rem;
          text-align: center;
          @include loading-animation;
        }

        display: flex;
        &__image {
          @include card-style;
        }
        &__image--back {
          @include card-style;
        }
      }
      .player-container {
        .animation-wrapper {
          width: 10rem;
          text-align: center;
          @include loading-animation;
        }
        display: flex;
        &__image {
          @include card-style;
        }
      }
    }
  }
  .bet-container {
    @include center;
    flex-direction: column;
    &__chips-image {
      width: 20rem;
    }
    &__bet-input {
      width: 9.8rem;
      margin-bottom: 1rem;
      height: 2.4rem;
      font-size: large;
      font-weight: bold;
      color: $secondary;
      text-align: center;
      border: 2px solid $primary;
      border-radius: 0.2rem;
      &:active {
        border-color: $secondary;
      }
      &:disabled {
        background-color: gray;
      }
    }
  }
}
